body {
  font-family: 'Lato';
  background: #f1f1f1 !important;
}

.header {
  width: 100%;
  z-index: 9999;
  border-bottom: 2px solid;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.subheader {
  background: #f1f1f1 !important;
  
  font-size: 12px !important;
  padding: 24px 10px 5px !important;
    margin: -8px 0 -8px 0 !important;
}

.subheader ul > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #777 !important;
}

.header .logo {
  margin: 0 20px 15px 0;
}

.header .navbar {
  margin-bottom: 0;
}

.header .logo img {
  width: 185px;
  padding: 10px 15px 0 0;
}

.header .quick-switch .selected-module a {
  padding: 0 10px 0 0;
}
.header .quick-switch .selected-module a:hover {
  background-color: #eee;
}
div.header .dropdown.open a.dropdown-toggle,
div.header .dropdown.open a.dropdown-toggle:focus {
  color: #777 !important;
}

#logout-form button {
  border: none;
  padding: 8px 15px;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
}

.wrapper .content {
  width: 75%;
    margin: 25px auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.quick-switch {
  margin: 4px !important;
}

.selected-module img {
  height: 22px;
  margin: 10px 5px 10px 10px;
}

.location  > ul .selected-module a {
    padding: 0px 10px 0 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.selected-module .dropdown-menu img {
  margin: 5px;
}
.dropdown-menu > li > a {
  padding: 8px 15px !important;
}
.selected-module.open .caret {
  color: #337ab7;
}
.nav-item {
  margin: -10px 0 5px;
}

.topboxgrey {
  background: #eeeeee;
  margin: 0!important;
  padding: 10px 0;
}
.topboxgrey h4 {
  font-size: 14px;
  font-weight: bold;
}
table.infotable {
  max-width: 800px;
  width: 100%;
  margin: 50px 0;
}
table.infotable tr td {
  padding: 10px;
}
.fa-btn {
  margin-right: 6px;
}
.side-nav {
  height: 200px;
  border: 1px solid;
}
.side-nav li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.side-nav li span {
  margin-left: 5px;
}
.icons {
  margin-left: -25px;
}
.side-nav li a {
  text-decoration: none;
  color: #333333;
}
.nav-sidebar {
  width: 100%;
  padding: 8px 0;
  border: 1px solid #ddd;
  height: 100%;
  background-color: #fcfcfc;
}
.nav-sidebar a {
  color: #333;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
  cursor: default;
  background-color: #428bca;
  color: #fff;
  text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
  background-color: #428bca;
}
.nav-sidebar .text-overflow a,  .nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* Right-aligned sidebar */

.nav-sidebar.pull-right {
  border-right: 0;
  border-left: 1px solid #ddd;
}
.steps {
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  margin-bottom: 25px;
  text-align: center;
}
 @supports (-webkit-appearance:none) {
 .steps {
 border-bottom: 1px solid #ddd;
 padding-bottom: 20px;
 margin-bottom: 25px;
 text-align: center;
}
}
.steps h4 {
  color: #428BCA;
}
.file-instructions {
  margin-top: 25px;
  display: block;
  padding-left: 15px;
}
.error {
  color: red;
  font-weight: none !important;
}
.steps span {
  float: left;
}
.sub-title {
  margin-top: 15px;
  float: left;
  margin-top: 15px;
  width: 100%;
}
/************************ theme changes *************************/



/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on May 25, 2017 */

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),  url('../fonts/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),  url('../fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),  url('../fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),  url('../fonts/proximanova-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
img {
  max-width: 100%;
}
body {
  font-family: 'proxima_nova_rgregular';
  background: #FFF;
}
div {
  display: block;
}
.main {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}
.left-section {
  width: 294px;
  display: table-cell;
  vertical-align: top;
  background: #ffffff;
  padding: 25px 20px;
}
.right-section {
  display: table-cell;
  vertical-align: top;
  padding: 10px 40px
}
ul.left-navigation, div.left-navigation {
  display: block;
  list-style: none;
  margin-top: 40px;
}


ul.left-navigation li {
  display: block;
}
ul.left-navigation li a {
  display: block;
  font-size: 15px;
  color: #787878;
  padding: 13px 5px;
  position: relative;
}
ul.left-navigation li a span {
  width: 22px;
  height: 18px;
  text-align: center;
  color: #fff;
  background: #fc7e08;
  display: inline-block;
  float: right;
  border-radius: 3px;
  margin-top: 3px;
  line-height: 20px;
  font-size: 13px;
}
ul.left-navigation li a:hover, ul.left-navigation li.select a {
  color: #fff;
  background: #fa7e26;
}
ul.left-navigation i {
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
}
ul.top-nav {
  float: right;
  margin-bottom: 10px;
}
ul.top-nav li {
  display: inline-block;
}
ul.top-nav li a {
  display: inline-block;
  padding: 10px 20px;
  color: #535353;
  font-size: 14px;
}


/* Accordion sidebar */

.panel-default > .panel-heading {
  background-color: #fd7e09!important;
    border-color: transparent;
    color: #fff!important;
    border-radius: 0;
    position: relative;
  padding-left: 30px;
}

.panel-default {
    box-shadow: none!important;
}

.panel-collapse .panel-body ul  {
  margin-top:20px;  
  }
  
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding-bottom: 0!important;
  padding-right:0;
}  

.panel-collapse .panel-body ul li {
  list-style:none;
      margin-bottom: 10px;
  }

  
.panel-collapse .panel-body ul li a {
  color:#565656;  
  font-size:16px;
}

.panel .panel-heading .panel-title a {
  width: 100%;
    display: inline-block;
  }


.panel .panel-heading .panel-title a.haschilddrp {
  background:url(https://app.fusedtools.com/assets/images/arrow_accord.png) right no-repeat;
  
  }
  
.panel .panel-heading .panel-title a.haschilddrp.collapsed {
  background:url(https://app.fusedtools.com/assets/images/arrow_accorddown.png) right no-repeat;
  }  





.content {
  background: #fff;
  border-radius: 5px;
  display: block;
  clear: both;
}
.title {
  font-size: 20px;
  color: #008bdb;
  font-family: 'proxima_novasemibold';
  padding: 20px 25px;
  border-bottom: 1px solid #e3e3e3;
  font-weight: normal;
  margin-bottom: 20px;
  display: block;
}
.button {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  padding: 10px 20px;
  font-size: 15px;
  color: #505050;
  display: inline-block;
  margin: 7px 0px;
  width: 197px;
  text-align: center;
}
.button:hover {
  background: #fc7e08;
  color: #fff;
  border: 1px solid #fc7e08;
}
.inner-content {
  padding: 0px 30px 40px;
}
.inner-content h3 {
  font-size: 20px;
  color: #2f2f2f;
  display: block;
  font-family: 'proxima_novasemibold';
}
.tips, .plan-billing-row {
  margin-top: 40px;
  margin-bottom: 20px;
}
ul.simple-text {
  color: #2f2f2f;
  list-style: none;
  font-size: 14px;
  padding-left: 0px;
  width: 70%;
}
ul.simple-text li > span {
  font-family: 'proxima_novasemibold';
}
ul.simple-text li {
  padding-left: 2em;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}
ul.simple-text li::before {
  content: "• ";
  color: #fc8b20;
  font-size: 18px;
  position: absolute;
  left: 0px;
  top: 4px;
}
.btn_cls:hover {
  background: #fc7e08 none repeat scroll 0 0 !important;
  border: 1px solid #fc7e08 !important;
  color: #fff !important;
}
/* Image to HTML content */



.qsgtable {
  width: 100%;
  max-width: 618px;
  padding: 5px 0 17px 12px;
  border: solid 1px #e4e3e3;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
}
.qsgtable h4 {
  width: 100%;
  font-size: 14px;
  color: #352f2f;
}
input.posturlin {
  border: solid 1px #dddddd;
  background: #fff;
  padding: 5px 9px;
  border-radius: 5px;
  margin-right: 4px;
  max-width: 530px;
  width:100%;
}
input.posturlmerge {
  border: solid 1px #bbb;
  background: #f9f9f9;
  padding: 7px 9px 5px;
  font-size: 13px;
  border-radius: 5px;
}
input.namein {
  border: solid 1px #dddddd;
  background: #fff;
  padding: 5px 9px;
  border-radius: 5px;
  width: 45%;
  margin-bottom: 2px;
}

input.newgrpin {
  border: solid 1px #dddddd;
  background: #fff;
  padding: 5px 9px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2px;
}

input.pairin {
  border: solid 1px #dddddd;
  background: #fff;
  padding: 5px 9px;
  border-radius: 5px;
  width: 45%;
  margin-bottom: 2px;
}
.spacertwnty {
  margin-top: 20px;
}
.infusaccount {
  background: #f8f8f8;
  border: solid 1px #d7d7d7;
  color: #545454;
  width: 267px;
  margin-right: 25px;
  padding: 7px 10px;
  border-radius: 5px;
}
.addaccount {
  background: #ffba7c url(http://app.fusedtools.com/assets/images/chainbg.jpg) left no-repeat;
  border: solid 2px #fb7e24;
  padding: 7px 11px 5px 40px;
  font-size: 13px;
  border-radius: 5px;
  color: #fff;
}
 @media screen and (max-width:1170px) {
ul.simple-text {
  width: 100%;
}
}
.setupheader {
  background: #f97d25;
  padding: 55px 0 55px;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.setupbanner {
  background: #f2f3f5 url(../images/bannerbg.jpg) center no-repeat;
  background-size: cover;
  padding: 124px 0 180px;
  width: 100%;
  display: inline-block;
}
.setupbanner h2 {
  font-size: 42px;
  color: #555459;
  margin: 0;
}
.setupbanner h1 {
  font-size: 55px;
  color: #555459;
  margin: 5px 0 10px;
}
.setupbanner h3 {
  font-size: 30px;
  color: #9e9ea6;
  margin: 0;
}
.setupbanner h3.connectacc {
  background: url(../images/iconconfirm_arrow.png) left no-repeat;
  padding-left: 70px;
}
.mainbodyholder {
  background: #fff;
  width: 100%;
  display: inline-block;
}
.formholder {
  padding: 20px 5px 50px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: #fff;
  margin-bottom: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.crecardhold {
  margin: 11px 0 34px;
}
.crecardhold label {
  margin-bottom: -18px;
}
.crecardhold input {
  width: 25px!important;
}
.paymenthistnew {
  border: solid 2px #d7d7d7;
  border-radius: 5px;
}
#orderbill, #cardupdatenow, .manage_btn.update-details {
  background: #fc7e09;
  font-size: 18px;
  color: #fff;
  padding: 13px 20px;
  font-weight: bold;
  float: right;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.managebillpage h2 {
  font-size: 25px;
  color: #555459;
  font-weight: bold;
}
.packageholderin {
  background: #f6f6f6;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding-bottom: 30px;
  font-size: 18px;
}
.packageholderin h3 {
  background: #fc7e09;
  padding: 20px;
  font-size: 25px;
  color: #fff;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
.packageholderin table {
  background: #fff url(http://app.fusedtools.com/assets/images/pipe.jpg) center no-repeat;
  margin-bottom: 30px;
}
.smalltext {
  font-size: 13px;
  color: #a0a0a0;
}

.fullwidthsel {
  width:100%!important;
  margin-bottom:5px;
  }
  
.plussign {
    padding: 5px;
    border-radius: 50%;
    background: #fa7e26;
    color: #fff;
    text-align: center;
    width: 30px;
    display: inline-block;
  }
  
.plussign:hover {  
  color: #fff;
  background:#f36b0c;
}
  
  
.minussign {
    padding: 5px;
    border-radius: 50%;
    background:#fa2626;
    color: #fff;
    text-align: center;
    width: 30px;
    display: inline-block;
  }
  

.minussign:hover {
  color: #fff;
  background:#c71717;
  }

.areagrouptext {
  width:100%;
  border: solid 1px #dddddd;
    background: #fff;
    padding: 5px 9px;
    border-radius: 5px;
    margin-bottom: 2px;
  min-height: 130px;
  }
  
  

.packageholderin .accesstext {
  color: #fc7e09;
}
.planholderpack {
  padding: 30px 0;
  font-weight: 18px;
}
.packageholderin table h4 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: normal;
}
.freeplancheck {
  font-size: 18px;
}
.packageholderin table label.btnplanselnew {
  font-size: 18px;
  color: #fc7e09;
  border: solid 1px #fc7e09;
  padding: 7px 20px;
  border-radius: 5px;
  margin: 5px auto;
  text-transform: uppercase;
  background: #fff;
  font-weight: normal;
}
.packageholderin table input {
  display: none!important;
}
.packageholderin table input:checked + label.btnplanselnew {
  color: #fff;
  background: #fc7e09;
}
.packageholderin table label.btnplanselnew:hover {
  color: #fff;
  background: #fc7e09;
}
.packageholderin .freetext {
  font-size: 18px;
  color: #fc7e09;
}
.packageholderin table .price {
  font-weight: bold;
  font-size: 30px;
}
.spacerforty {
  margin-top: 49px;
}
.paymenthistnew table tr td {
  padding: 10px 20px;
}
.paymenthistnew table .headerarea {
  font-size: 18px;
}
.backgrey {
  background-color: #eee!important;
}
.formholdernew {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
}
.crecardhold img {
  margin-top: -12px;
}
.formholder table tr td {
  vertical-align: top;
  text-align: left;
}
.marginneg {
  margin-top: -110px;
  position: relative;
  z-index: 10;
}
.marginneg button{
  margin: 0 10px;
}
.contentform h2 {
  color: #555459;
  font-size: 20px;
  margin-bottom: 20px;
}
.contentform input {
  border: solid 1px #2f2f2f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 15px;
}
#emailsub {
  padding: 15px 20px 10px 50px;
  margin-bottom: 50px;
  font-weight: bold;
  background: #ffba7c url(../images/icon_mail.png) 10px 5px no-repeat;
  border: solid 3px #ff9332;
  float: right;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
}
.setupbanner h3.connectacc {
  background: url(../images/iconconfirm_arrow.png) left top no-repeat;
  padding-left: 70px;
}
.contentform .confirmfrm {
  font-size: 50px;
  color: #9e9ea6;
}
.contentform .confirmfrm input {
  border: solid 4px #9e9ea6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  font-size: 80px;
  width: 14%;
  margin-bottom: 15px;
  text-align: center;
}
.contentform .confirmfrm input.inputfirst {
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
}
.contentform .confirmfrm input.inputlast {
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
}

#connectsub, #resend-sub {
  padding: 5px 20px 5px 60px;
  margin-bottom: 50px;
  font-weight: bold;
  background: #ffba7c url(../images/iconconfirm_link.png) -11px -18px no-repeat;
  border: solid 3px #ff9332;
  float: right;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
}

#resend-sub {
  padding: 5px 20px;
  background: #ffba7c;
  margin: 0 10px;
  color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.nopadside {
  padding-left: 0;
  padding-right: 0;
}
.marleft {
  margin-left: 50px;
  margin-right: 50px;
}
.connectaccount h2.syncaccount {
  font-size: 29px;
  background: url(/assets/images/loadingicon.png) left no-repeat;
  padding: 20px 0 20px 90px;
  color: #555459;
}
.connectaccount h2.synedAccount {
  font-size: 29px;
  background: url(/assets/images/tickmark.png) left no-repeat;
  padding: 20px 0 20px 90px;
  color: #555459;
}
.connectaccount p {
  padding-left: 90px;
  color: #717274;
  font-size: 16px;
}
.connecthead {
  background: url(../images/connectheadbg.png) 250px no-repeat;
  padding: 70px 0 95px;
}
 @media screen and (max-width: 739px) {
.formholder {
  padding: 20px 10px 50px;
}
.connectaccount h2.syncaccount {
  background: url(/assets/images/loadingicon.png) left no-repeat;
  padding: 60px 0 20px 0;
}
.connectaccount h2.synedAccount {
  background: url(/assets/images/tickmark.png) left no-repeat;
  padding: 60px 0 20px 0;
}
.connectaccount p {
  padding-left: 0;
}
.marleft {
  margin-left: 0;
  margin-right: 0;
}
}
.tick {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #E98887
}
.tickcheck:before {
  content: "\f00c";
}
.center-connect-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.connectaccountbutton {
  padding: 5px 12px 3px 18px;
  margin-bottom: 50px;
  font-weight: bold;
  background: #ffba7c;
  border: solid 3px #ff9332;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
}
.contentform input, .contentform select {
  border: solid 1px #2f2f2f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 15px;
  background: #fff;
}
h2.modal-title {
  font-size: 20px;
}
.packageholder h4 {
  margin: 5px 0 20px;
  text-align: center;
}
.packageholder p {
  font-size: 17px;
}
#ordernowsub {
  padding: 15px 20px 15px 20px;
  margin-bottom: 50px;
  font-weight: bold;
  background: #ffba7c url(../images/ordernow_07.png) 15px -5px no-repeat;
  border: solid 3px #ff9332;
  float: right;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
}
.ordertotal {
  color: #555459;
  font-size: 30px;
  text-align: left;
  line-height: 25px;
  margin-bottom: 0;
}
.ordertotalamt {
  color: #555459;
  font-size: 40px;
  text-align: left;
  margin-bottom: 0;
  font-weight: bold;
}
#orderbillamount, #ordernowsub {
  background: #fc7e09;
  font-size: 25px!important;
  color: #fff;
  padding: 18px 20px;
  font-weight: bold;
  float: right;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  width: 100%;
}
input[type="radio"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(../images/iconpackageuc.png) left top no-repeat;
  background-size: 35px;
  cursor: pointer;
}
input[type="radio"]:checked + label span {
  background: url(../images/iconpackage.png) left top no-repeat;
  background-size: 35px;
}
h2.title {
  font-size: 20px;
}
.atmarea {
  background: url(../images/atmbg.png) center no-repeat;
  background-size: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  clear: both;
}
.atmholder {
  background: #2c97fc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 50px;
}
.atmholder .curplantitle {
  color: #dfefff;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.atmholder .curplan {
  color: #fff;
  font-size: 42px;
  border-bottom: solid 4px #d7d7d7;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.atmholder .docspermonth {
  color: #dfefff;
  font-size: 20px;
  margin-bottom: 22px;
}
.manage_btn {
  padding: 13px 5px;
  font-weight: bold;
  border: solid 3px #ff9332;
  font-size: 26px;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  background: #ffba7c;
}
.bggrey {
  background: #eeeeee!important;
  padding-top: 70px;
}
.nodropsha {
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0)!important;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0)!important;
  box-shadow: 0 0 10px rgba(0,0,0,0)!important;
  padding-bottom: 0;
  margin-bottom: 0;
}
.carddetails {
  padding: 40px 0 30px;
}
.carddetails .atmholder {
  background: #52a5f8;
  background: -moz-linear-gradient(-45deg, #52a5f8 0%, #226ecf 99%);
  background: -webkit-linear-gradient(-45deg, #52a5f8 0%, #226ecf 99%);
  background: linear-gradient(135deg, #52a5f8 0%, #226ecf 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a5f8', endColorstr='#226ecf', GradientType=1 );
  font-family: "Courier New", Courier, monospace;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 40px 50px;
}
.atmholder .cardnumbertitle, .atmholder .expdate {
  font-size: 21px;
  color: #c0dfff;
  width: 100%;
  text-transform: uppercase;
}
.atmholder .cardnumber {
  font-size: 28px;
  color: #e4f1ff;
  width: 100%;
  margin-bottom: 50px;
}
.atmholder .expdatedet {
  width: 50%;
  font-size: 32px;
  color: #e4f1ff;
  display: inline-block;
}
.atmholder .cvvnum {
  width: 50%;
  color: #c0dfff;
  font-size: 32px;
  text-align: center;
  display: inline-block;
}
.carddetlink {
  text-align: right;
  margin-bottom: 20px;
}
.carddetlink a {
  color: #ffba7c;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
  margin-bottom: 20px;
}
.paymenthistory {
  padding: 40px 10px 50px;
}
.paymenthistorytable {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 2px #d7d7d7;
  display: inline-block;
  width: 100%;
  background: #f6f6f6;
}
.paymenthistory tr td {
  padding: 10px;
}
.paymenthistory tr.paymenthist td {
  background: #fff;
  font-size: 16px;
  font-weight: bold;
}
 @media screen and (max-width: 991px) {
.atmarea {
  background: none;
  margin: 0 10px;
}
.carddetails .atmholder {
  margin: 0 10px;
}
.atmholder .cardnumber, .atmholder .expdatedet, .atmholder .cvvnum {
  font-size: 24px;
}
}
.action-icons i {
  font-size: 18px;
  margin-right: 5px;
}
.panel-body {
  margin-top: 10px;
}
.formholder {
  box-shadow : none !important;
}
.bodytotfileshold {
  padding: 27px 5px 27px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}
.bodytotfileshold .imgholder {
  display: inline-block;
}
.bodytotfileshold .imgholder img {
  margin-top: -50px;
}
.bodytotfileshold .textholdinfo {
  font-size: 50px;
  color: #2f2f2f;
  text-align: left;
  display: inline-block;
  line-height: 27px;
  font-weight: bold;
  margin-left: 10px;
}
.bodytotfileshold .textholdinfo span {
  font-size: 20px;
}
.leftalign {
  text-align: left;
}
.bodytotfileshold ul {
  padding-left: 60px;
  font-weight: bold;
}
.bodytotfileshold ul li.comp {
  color: #2f2f2f;
  font-size: 20px;
  line-height: 45px;
  list-style-image: url(../images/tickmark.png);
}
.bodytotfileshold ul li.incomp {
  color: #2f2f2f;
  font-size: 20px;
  line-height: 45px;
  list-style-image: url(../images/checkcross_06.png);
}
.headtotfileshold {
  background: #008bdb;
  margin: 3px;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.headtotfileshold h2 {
  font-size: 25px;
  color: #fff;
  padding: 16px 10px 16px 20px;
}
.totalfileshold {
  width: 100%;
  background: #eee;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.inner-content {
  min-height: 400px;
}
.authenticate {
  padding: 10px 20px 10px 70px;
  font-weight: bold;
  border: solid 3px #ff9332;
  font-size: 26px;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  background: #ffba7c url(../images/iconconfirm_link.png) 15px -12px no-repeat;
}
/*.panel-default {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
 .panel-default > .panel-heading {
  background-color: #f3f3f3;
  position: relative;
  padding-left: 30px;
} */
.panel-heading .fa {
  position: absolute;
  left: 8px;
  top: 10px;
}
.titlebolder {
  font-weight: bold;
  font-size: 36px;
}
button.small {
  padding: 5px 5px;
  font-weight: normal;
  border: solid 3px #ff9332;
  font-size: 17px;
  color: #fff;
  line-height: 15px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  background: #ffba7c;
  margin: 0px 0 20px;
}
.combobox select {
  width: 100%;
  padding: 3px 5px;
  border: solid 1px #acacac;
  background: #fff;
  margin-bottom: 25px;
}
ol.temapletol {
  margin-left: 15px;
}
/*input {*/

  /*width:100%;*/

  /*padding: 3px 5px;*/

  /*margin-bottom:10px;*/

/*}*/

.planField {
  display: block !important;
}
.reauth.not i {
  color: #d43f3a;
  font-size: 41px;
}
.reauth.done i {
  color: #4cae4c;
  font-size: 41px;
}

.reauth.not.reauthBtn {
  cursor: pointer;
}
.mb30 {
  margin-bottom: 9px;
}
ul.token-input-list {
  margin: auto !important;
}
.contact-matching label, .order-matching label, .company-matching label, .product-matching label {
  font-weight: normal;
}
.add-field-match, .remove-field-match {
  border: 1px solid;
  border-radius: 100px;
  padding: 4px 5px;
  font-size: 11px;
  color: white;
  cursor: pointer;
  background: #333;
}
.left-navigation ul {
  padding-left: 0 !important;
}
.left-navigation ul i {
  font-size: 16px !important;
}
.left-navigation ul a {
  padding: 6px 0px !important;
}
.mt26 {
  margin-top: 26px;
}
 @media only screen and (max-width: 691px) {
   
.main {
    display: inline-block;
    position: relative;
}   
   
.left-section {
  width: 100%;
  display: inline-block;
}
.right-section {
  display: inline-block;
  width: 100%;
}
.paymenthistnew table tr td {
  display: grid;
}
.packageholderin table label.btnplanselnew {
  font-size: 16px;
  padding: 7px 10px;
}
.packageholderin table h4 {
  font-size: 17px;
}
.packageholderin table .price {
  font-size: 25px;
}
.packageholderin .freetext {
  font-size: 16px;
}
.packageholderin {
  font-size: 16px;
}
.packageholderin table {
  background-image: none;
}
.packageholderin table tr td {
  display: grid;
}

input.posturlin {
    max-width: 530px;
  width:calc(100% - 70px);
}

table.infotable tr td {
    padding: 10px;
    display: inline-block;
    width: 100%;
}

}


.martop {
  margin-top:50px;
  }
  
.marbtm {
  margin-bottom:50px;
  }  
  
.pbohidden, .hiddenaninfacc, .pbohiddenag, .pbohiddenagrap, .pbohiddenagpl {
  display:none;
  }  
  
div {
  border:solid 0px #000;
  }  
  
.pt30{
    padding-top:30px;
}
.disabled {
    background: #fc7e0961 !important;
    color: white !important;
}
.radiusmap {
    margin-top: 39px;
}
.martop {
    margin-top: 30px;
}
.marbottom {
    margin-bottom: 30px;
}

/* .btn.btn-primary{
  color: #fd7e09 !important;
  background-color: transparent !important;
  border-color: #fd7e09 !important;
} */

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  /* color: #FFF !important; */
  /* background-color: #db5c07 !important; */
}

.current-plan{
  margin-bottom: 40px;
}

.order-confirm-header{
  margin-bottom: 30px;
}

.order-confirm-header h1{
  margin: 0;
}

.order-total{
  font-size: 24px;
  font-weight: bold;
  color: #444;
}

.panel-order-confirm .panel-body{
  padding: 40px 60px;
  color: #777;
}

.panel-order-confirm .panel-body hr{
  border: 1px dashed #CCC;
}


.confirm-info, .confirm-billing{
  margin-bottom: 25px;
}
.confirm-payment, .confirm-action-btn{
  margin-top: 25px;
}

.alert > ul {
  margin-left: 20px;
}

.panel-card-info{
  border: none !important;
  color: #777;
  margin-top: 20px;
}

.panel-card-info .panel-body{
  margin: 0 !important;
  padding: 0px 14px 20px 15px !important;
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
}

.table-card-details{}
.table-card-details, .table-card-details th, .table-card-details td{
  border: 1px solid #EEE;
}

.table-card-details th{
  border-bottom: 1px solid #EEE !important;
}

.table-card-details-edit .edit-card-details-field-name{
  vertical-align: middle;
}

.tbl-payment-history td, .tbl-payment-history th{
  font-size: 12px;
}

.topmenu-list{
  color: #777;
}

.topmenu-list a{
  padding: 8px 10px;
}

.iconmenu{
  font-size: 20px;
  margin: 0px 10px;
}


#frm-changeplan{
  padding-left: 15px;
  padding-right: 15px;
}

.content{
  padding-left: 25px;
  padding-right: 25px;
}


.fusedtools-color{
  color: #fd7e09 ;
}

.documenttools-color{
  color: #5cb85c ;
}

.xerotools-color{
  color: #119DCB;
}

.xero-icon{
  background: url('../images/xero.svg');
}

.panel-import{
  border: 1px solid #CCC;
}

label{
  font-weight: normal;
}

.dropdownUser{
  width: 250px;
  padding: 0px;
}
.quick-switch .dropdownUser {
  width: 200px;
}
.dropdown-menu > li > a{
  color: #777;
}

.dropdownUserInfo{
  padding: 5px 15px;
  background: rgb(250,250,250);
}

.dropdownUser .divider{
  margin: 0px;
}

.dropdownUser > li > a{
  padding: 10px 20px ;
}

.dropdownUser > li > a > img{
  /* width: 115px;
  height: 22px; */
}




.footer {
  background: #FFF !important;
  color: #777 !important;
  border-top: 4px solid;
  font-size: 12px !important;
  padding: 15px 0;
}
.footer h4 {
  font-size: 18px;
  color: #000;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li {
  display: flex;
}
.footer .links li::before {
  content: "-";
  display: block;
  font-weight: 900;
  color: #337ab7;
}
.footer .links li a {
  transition: color .2s;
  margin-left: 5px;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
transition: color .2s;
}
.footer .about-company a:hover {
  color: #4180CB;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.subfooter {
  text-align: center;
  margin: 0 auto;
}